@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root{
    font-family: 'Gruppo', sans-serif;
    background-color: #ED1D24;
    color: white;
}